{% extends 'layout/app.twig' %}

{% block content %}
    <div class="modal uploadModal" data-modal="1">
        <div class="block">
            <div class="circleOne"></div>
            <div class="circleTwo"></div>
            <div class="circleThree"></div>
            <div class="circleFour"></div>
            <form action="{{ path_for('results') }}" method="post" enctype="multipart/form-data" class="uploadForm">
                <label class="upload">
                    <span class="uploadIconContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                            <g class="uploadIcon">
                                <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"></path>
                            </g>
                        </svg>
                    </span>
                    <span class="uploadInput"><span>Drop your files</span> <br>or click to <em>add</em></span>
                    <input type="file" name="image" accept="image/*;capture=camera">
                </label>
            </form>
        </div>
    </div>

    <div class="modal" data-modal="2">
        <div class="block">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt beatae quam accusamus non! Eveniet odit alias officia cupiditate temporibus magnam inventore aliquid repellendus cum ipsam, tempora saepe sit dolore adipisci distinctio pariatur aperiam ipsa maiores dolores libero. Quidem, commodi.</p>
        </div>
    </div>
    <div class="overlay"></div>
    
    <div class="home">
        <div class="container">
            <div class="column-12">
                <img class="logo" src="/assets/img/logo.svg" alt="Converter" draggable="false">
                <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsum, soluta sed. Ducimus, eum unde dignissimos minima ipsum assumenda officia eveniet.</p>
                <div class="buttonGroup has-margin-top">
                    <a href="#0" class="button modalTrigger" data-modal="1">Upload</a>
                    <a href="#0" class="button is-outline is-secondary modalTrigger" data-modal="2">How It Works</a>
                </div>
                <p class="footer">Made with 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
  <path d="M179.361 99.903c-11.41-11.41-16.454-17.005-16.452-30.089-.002-13.079 5.044-18.674 16.457-30.089 9.089-9.087 9.089-23.82.002-32.909-9.087-9.09-23.825-9.087-32.914-.002-12.699 12.698-30.095 30.09-30.09 62.999-.005 32.914 17.388 50.305 30.089 63.001 11.411 11.413 16.457 17.011 16.457 30.092 0 12.854 10.42 23.273 23.273 23.273s23.273-10.418 23.273-23.273c-.002-32.913-17.394-50.305-30.095-63.003zm108.606 0c-11.41-11.41-16.454-17.005-16.452-30.089-.002-13.079 5.044-18.674 16.457-30.089 9.089-9.087 9.089-23.82.002-32.909-9.087-9.09-23.825-9.087-32.914-.002-12.699 12.698-30.095 30.092-30.09 62.999-.005 32.914 17.388 50.305 30.089 63.001 11.411 11.413 16.457 17.011 16.457 30.092 0 12.854 10.42 23.273 23.273 23.273s23.273-10.418 23.273-23.273c-.001-32.913-17.394-50.305-30.095-63.003zm93.434 303.49h21.993c.022 0 .039-.003.061-.003 47.023-.031 85.273-38.298 85.273-85.331 0-47.053-38.281-85.334-85.334-85.334H62.06c-12.853 0-23.273 10.422-23.273 23.273v77.576c0 52.193 22.528 99.221 58.37 131.879H46.545c-12.853 0-23.273 10.418-23.273 23.273 0 12.851 10.42 23.273 23.273 23.273h341.334c12.853 0 23.273-10.422 23.273-23.273 0-12.854-10.42-23.273-23.273-23.273h-50.612c18.837-17.164 33.99-38.295 44.134-62.06zm14.236-69.818v-54.303h7.758c21.388 0 38.788 17.4 38.788 38.788s-17.4 38.788-38.788 38.788h-9.276c.996-7.619 1.518-15.387 1.518-23.273z"/>
</svg>at <a href="https://darkroast.co" target="_blank">DarkRoast Digital</a></p>
            </div>
        </div>
        <img class="wave" src="/assets/img/wave.svg" draggable="false">
        <img class="waveTwo" src="/assets/img/wave.svg" draggable="false">
    </div>

{% endblock %}
