/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/



// #RADIUS
// =========================================================================

$has-radius: true;



// #SHADOWS
// =========================================================================

$has-shadow: true;

$button-has-shadow: true;




// #NAV
// =========================================================================

$nav-fixed: false;

$menu-right: false;




// #SIDEBAR
// =========================================================================

$has-sidebar: true;

$sidebar-width: 200px;

$sidebar-brand-height: 75px;
