/*
|--------------------------------------------------------------------------
| #COLORS
|--------------------------------------------------------------------------
*/




// #BRAND
// =========================================================================

$primary: #0F5DED;
$secondary: #0084F4;




// #UTILITY
// =========================================================================

$info: #878D98;
$success: #22D1A8;
$error: #FC104D;
$warning: #FDBE2D;




// #SHADES
// =========================================================================

$white: #ffffff;
$black: #0E0C15;




// #GREYS
// =========================================================================

$grey-10: #F3F7FF;
$grey-20: #EDF2FC;
$grey-30: #E6EBF5;
$grey-40: #D8DCE5;
$grey-50: #B4BCCB;
$grey-60: #878D98;
$grey-70: #5A5E66;
$grey-80: #2E3033;
$grey-90: #1F2123;
