/*
|--------------------------------------------------------------------------
| #UNIT MANIPULATION
|--------------------------------------------------------------------------
*/




// #STRIP UNITS
// =========================================================================

@function stripUnits($n) {
    $value: $n / ($n * 0 + 1);

    @return $value;
}




// #CONVERT TO REM
// =========================================================================

@function calculateRem ($size) {
    $value: ($size / 16px) * 1rem;

    @return $value;
}




// #CONVERT TO EM
// =========================================================================

@function calculateEm ($size) {
    $value: ($size / 16px) * 1em;

    @return $value;
}




// #CONVERT TO PX
// =========================================================================

@function calcualatePx($size) {
    $value: stripUnits($size) * $global-font-size;

    @return $value;
}
