<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Viewport Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles -->

    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- Mobile Theme Colour -->

    <meta name="theme-color" content="#1962E9">

    <!-- Title and Description -->

    <title>Story Extend</title>
    <meta type="description" content="">

    <!-- Favicons -->

    <link rel="icon" href="assets/img/fav.png">

    <meta property="og:title" content="Story Extend">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://storyextend.com">
    <meta property="og:site_name" content="Story Extend">
    <meta property="og:image" content="/assets/img/og.jpg">

    
</head>
    <body>
        {% block content %}{% endblock %}

        <script src="/assets/js/app.js"></script>
    </body>
</html>
