/*
|--------------------------------------------------------------------------
| #RADIUS
|--------------------------------------------------------------------------
*/



.is-radius-small {
    border-radius: radius(small);
}

.is-radius-medium {
    border-radius: radius(medium);
}

.is-radius-large {
    border-radius: radius(large);
}

.is-radius-large {
    border-radius: radius(round);
}

.is-radius-circle {
    border-radius: radius(circle);
}
