/*
|--------------------------------------------------------------------------
| #COLORS
|--------------------------------------------------------------------------
*/



.has-color-primary {
    color: color(primary);
}

.has-color-secondary {
    color: color(secondary);
}

.has-color-success {
    color: color(success);
}

.has-color-error {
    color: color(error);
}

.has-color-warning {
    color: color(warning);
}

.has-color-black {
    color: color(black);
}

.has-color-white {
    color: color(white);
}
