/*
|--------------------------------------------------------------------------
| #MARGIN
|--------------------------------------------------------------------------
*/



.has-margin {
    margin: $gutter;

    &-top {
        margin-top: $gutter;
    }

    &-right {
        margin-right: $gutter;
    }

    &-bottom {
        margin-bottom: $gutter;
    }

    &-left {
        margin-left: $gutter;
    }
}
