/*
|--------------------------------------------------------------------------
| #OFF CANVAS
|--------------------------------------------------------------------------
*/




.offCanvas {
    position: fixed;
    top: 0;
    right: 0;
    padding: $gutter;
    z-index: z(highest);
    height: 100%;
    width: 300px;
    background: color(white);
    transform: translateX(300px);
    transition: all .2s ease(inOutSine);

    @if ($has-shadow) {
        box-shadow: -3px 0 0 0 rgba(color(black), .1);
    }

    &-open {
        transform: translateX(0);
    }

    &-left {
        left: 0;
        right: auto;
        transform: translateX(-300px);
    }
}

